.ss-default-container {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    background-color: rgba(221, 221, 221, 0.5);
    z-index: 2147483647;
    min-width: 35px;
    min-height: 35px;
    width: 2%;
    border-radius: 50%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ss-default-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* .ss-render-canvas {
    position: absolute;
    top: 0;
    left: 0;
} */

.ss-render-container {
    position: absolute;
    top: 0;
    left: 0;
    /* If the render canvas is smaller than the styled container;
    position the canvas in the center of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ss-render-canvas {
    max-width: inherit;
    max-height: inherit;
}

.ss-toggle-gradient-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #61005c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(40deg, #61005c, #0eafbe);
    background: linear-gradient(40deg, #61005c, #0eafbe);
    background-size: 400% 400%;
    animation: gradient 14s ease infinite;
    /* Initialize with a scale of 0 until the script gives the correct animation class */
    transform: scale(0);
}


.ss-toggle-gradient-background-animate-in {
    animation: scale-in 0.25s ease-in forwards;
    animation-fill-mode: forwards;
}

.ss-toggle-gradient-background-animate-out {
    animation: scale-out 0.4s ease-out forwards;
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.3);
    }
}

@keyframes scale-out {
    0% {
        transform: scale(1.3);
    }

    30% {
        transform: scale(0.6);
    }
    
    60% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0);
    }
}

.ss-toggle-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ss-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ss-toggle > input {
    /* Hide native checkbox design */
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    -webkit-transition: all 300ms 0ms ease-in-out;
    transition: all 300ms 0ms ease-in-out;
}

.ss-toggle img {
    display: block;
    width: 100%
}

.ss-inner-youtube-container {
    width: 60%;
    position: relative;
}

.ss-inner-youtube-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.ss-big-inner-youtube-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ss-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
